@model InventoryControlSystem.Models.OrderList

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID" class="control-label"></label>
                        <input asp-for="ID" class="form-control" />
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SuppliersName" class="control-label"></label>
                        <input asp-for="SuppliersName" class="form-control" />
                        <span asp-validation-for="SuppliersName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SuppliersID" class="control-label"></label>
                        <input asp-for="SuppliersID" class="form-control" />
                        <span asp-validation-for="SuppliersID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SuppliersAddress" class="control-label"></label>
                        <input asp-for="SuppliersAddress" class="form-control" />
                        <span asp-validation-for="SuppliersAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SuppliersPhone" class="control-label"></label>
                        <input asp-for="SuppliersPhone" class="form-control" />
                        <span asp-validation-for="SuppliersPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SuppliersEmail" class="control-label"></label>
                        <input asp-for="SuppliersEmail" class="form-control" />
                        <span asp-validation-for="SuppliersEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessesName" class="control-label"></label>
                        <input asp-for="BusinessesName" class="form-control" />
                        <span asp-validation-for="BusinessesName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessesID" class="control-label"></label>
                        <input asp-for="BusinessesID" class="form-control" />
                        <span asp-validation-for="BusinessesID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessesPhone" class="control-label"></label>
                        <input asp-for="BusinessesPhone" class="form-control" />
                        <span asp-validation-for="BusinessesPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessesEmail" class="control-label"></label>
                        <input asp-for="BusinessesEmail" class="form-control" />
                        <span asp-validation-for="BusinessesEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BusinessesAddress" class="control-label"></label>
                        <input asp-for="BusinessesAddress" class="form-control" />
                        <span asp-validation-for="BusinessesAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalCost" class="control-label"></label>
                        <input asp-for="TotalCost" class="form-control" />
                        <span asp-validation-for="TotalCost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input asp-for="OrderDate" class="form-control" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Confirmed" /> @Html.DisplayNameFor(model => model.Confirmed)
                        </label>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary float-left">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
